<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Api</title>

    <style>
        table,
        tr,
        td {
            border: 1px solid green;
        }

        table {
            border-collapse: collapse;
            width: 70%;
        }

        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <h1>Dog Api</h1>
    <table>
        <tr>
            <td>
                GET /owners
            </td>
            <td>
                get all owners
            </td>
        </tr>
        <tr>

            <td>
                GET /hosts
            </td>
            <td>
                get all hosts
            </td>
        </tr>
        <td>
            GET /owners/{owner_id}
        </td>
        <td>
            get the owner with owner id
        </td>

        <tr>
            <td>
                GET /hosts/{host_id}
            </td>
            <td>
                get the host with host id
            </td>
        </tr>


        </tr>
    </table>
</body>

</html>